body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #fcf9f9;
  font-family: "Comic Sans MS", "Arial", sans-serif;
}

hr {
  width: 35%;
  margin-bottom: 5px;
  border-width: 1.5px;
}

#myModal {
  position: relative;
}

.modal-header {
  padding-top: 0;
  border-bottom: none;
  background-color: turquoise;
}

.modal-footer {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  text-align: left;
  background-color: turquoise;
}

.content > p {
  padding-left: 1%;
}

nav {
  background-color: #fcf9f9;
}

nav.shrink {
  font-size: 1.5rem;
  padding-top: 0;
  overflow: visible;
  font-family: Impact, Charcoal, sans-serif;
  background-color: transparent;
}

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#experience {
  margin-top: 50px;
  height: 500px;
  text-align: center;
  background-image: url('../img/pexels-photo-48606.jpeg');
  background-size: 100% 500px;
  color: white;
  text-shadow: 2px 2px black;
}

#innerExperience {
  width: 100%;
  height: 90%;
  padding-top: 170px;
  display: none;
}

#innerExperience > h1 {
  font-size: 8rem;
}

#innerExperience > button {
  margin: 20px 0 0 10px;
  color: black;
  background-color: white;
}

#innerExperience > button:hover {
  border-right: solid 2px grey;
  border-bottom: solid 2px grey;
}

#evalLink > a {
  font-size: 2rem;
  color: white;
}

#about {
  background-color: #fcf9f9;
  height: 650px;
  overflow: auto;
}

#innerAbout {
  margin-top: 50px;
  display: none;
  text-align: center;
  padding-top: 10px;
}

.thumbnail {
  height: 400px;
  overflow: hidden;
}

#innerAboutCol1 > .thumbnail:hover,
 #innerAboutCol2 > .thumbnail:hover,
  #innerAboutCol3 > .thumbnail:hover {
  border-bottom: solid 1px grey;
  border-right: solid 1px grey;
  height: 500px;
  overflow: auto;
}

.thumbnail > img {
  border-radius: 0.5rem;
}

#cathedral {
  width: 80%;
  height: auto;
}

#projects {
  height: 650px;
  overflow: auto;
  background-color: #fcf9f9;/*#fcf9f9;*/
}

#projects > .container-fluid > h1 {
  display: none;
  text-align: center;
  padding-top: 10px;
}

#projects > .container-fluid > h5 {
  display: none;
  text-align: center;
  padding-bottom: 50px;
}

#innerProjects {
  margin-top: 100px;
  text-align: center;
  display: none;
}

#innerAboutCol3 > .thumbnail > img {
  margin: 70px 0 100px 0;
}

.innerProjectsCol > img:hover {
  cursor: pointer;
  border: solid black 1px;
}

.innerProjectsCol > .thumbnail {
  border-radius: 25em;
  height: 340px;
}

#contact {
  background-color: #fcf9f9;
  height: 150px;
}

.top-padding {
  padding-top: 30px;
}
